<form (ngSubmit)=onsubmit(x) #x="ngForm" >
        <table class="table">
          <tr>
            <label>Name</label>
            <td><input type="text" name="name" placeholder="Username" class="form-control" ngModel></td>
          </tr>
          
      
          <tr>
            <td></td>
            <td><button  type="submit" class="btn btn-primary">submit</button></td>
          </tr>
        </table>
      
      </form>


      <table class="table">
            <tr><th>Name</th><th>Message</th><th>Email</th><th>Mob</th></tr>
        <tr *ngFor="let data of mydata">    
            <td><input type="text" [{data.name}]="data.name" name="name"></td>
            <td><input type="text" [{data.msg}]="data.msg" name="msg"></td>
            <td><input type="text" [{data.email}]="data.email" name="email"></td>
            <td><input type="text" [{data.phno}]="data.phno" name="phno"></td>
            </tr> 



       <!-- <tr *ngFor="let data of mydata">
        <td><input type="text" [(ngModule)]="data.name" name="name"></td>
        <td><input type="text" [(ngModule)]="data.msg" name="msg"></td>
        <td><input type="text" [(ngModule)]="data.email" name="email"></td>
        </tr> 
        <tr> --><tr>
            <td><button class="btn btn-primary" (click)="editbutton()">Edit</button></td>
        </tr>
            </table>


